<!--注文確認画面-->
<div class="container my-5">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>

  <div class="row my-3 d-flex">
  <table class="table table-hover table-bordered col-8 table-sm">
    <thead>
      <tr>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, format: 'jpeg', fallback:"no_image.jpeg" %>
          <%= cart_item.item.name %>
        </td>
        <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal .to_s(:delimited) %></td>
        <% @sum += cart_item.subtotal %><!--each文の中に書く！！-->
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover table-bordered col-3 ml-1 table-sm">
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @sum.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <% @total_payment = @sum + @order.shipping_cost %>
        <td><%= @total_payment.to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
  </div>
<div class="row">
  <h4><strong>支払方法</strong></h4>
  <%= @order.payment_method_i18n %>
</div>

<div class="row">
  <h4><strong>お届け先</strong></h4>
<%= "〒" + @order.postal_code %><br/>
<%= @order.address %><br/>
<%= @order.name %>
</div>

<div class="row justify-content-center">
<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
<%= f.hidden_field :postal_code %>
<%= f.hidden_field :address %>
<%= f.hidden_field :name %>
<%= f.hidden_field :shipping_cost %>
<%= f.hidden_field :total_payment, value: @total_payment %>
<%= f.hidden_field :payment_method %>
<%= f.hidden_field :status %>
<%= f.submit "注文を確定する", class: "btn btn-success" %>
<% end %>
</div>

</div>