<!--public/商品詳細・個数選択・カートに入れる画面-->
<div class="container my-5">
  <div class="row mt-3">
    <div class="">
      <%= attachment_image_tag @item, :image, :fill, 350, 250, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-sm-4 ml-5">
      <h2><%= @item.name %></h2>
      <h5 class="introduction">
        <%= @item.introduction %>
      </h5>
      <h5 class="item_price">
        ￥<%= @item.with_tax_price.to_s(:delimited) %>（税込）
      </h5>
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..10],include_blank: "個数を選択" %>
      <%= f.submit'カートへ入れる' ,class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>